<footer>
    <a href="#">
        <span class="link-top">
            <span class="triunghi">
                <!--Ne duce la inceputul paginii-->
            </span>
        </span> 
    </a>
    <br/>
    <address>
        <div id="banner">
            <p>Proiect scolar</p>
        </div>
        <p><a href="tel: +4071234567">Telefon</a><span>&nbsp;&nbsp;</span><a href="mailto:who@gmail.com">Email</a></p>
        <p><a href="https://goo.gl/maps/hw21GZwuZM38XNSEA" target="_blank">Strada Academiei nr. 14, Bucuresti</a></p>
        <p><a href="https://www.whatsapp.com/">Whatsapp</a></p>
        <p><small>&copy;Copyright Ruxandra Oprea <time datetime="2022-10-17 22:00">17.10.2022</time></small></p>
    </address>
</footer>