@media print {
    #banner {
      position: absolute;
      display: block;
      left: 10%;
      top: 10%;
      align-items: center;
      width: 80%;
      font-size: 2em;
      overflow: visible;
      border: 3px dotted black;
    }
    h1 {
      page-break-after: always;
      margin-top: 60%;
      border-bottom: 3px solid yellow;
      text-align: center;
    }
    #grid-pagina {
      font-size: 10px;
      box-sizing: border-box;
      page-break-before: always;
      background-color: white;
      display: block;
    }
    html,
  body {
      width: 210mm;
      overflow: visible !important;
    }
    html figure,
  html video,
  html iframe,
  html .flex-tab,
  html .binder,
  html .text,
  html .triunghi,
  html .link-top,
  html nav,
  body nav,
  body figure,
  body video,
  body iframe,
  body .flex-tab,
  body .binder,
  body .text,
  body .triunghi,
  body .link-top{
      display: none;
    }
    html footer,
  body footer {
      page-break-before: always;
    }
    html a{
        text-decoration: none;
        color: #4f4649;
    }
    html .menu,
  body .menu {
      display: flex;
      flex-direction: column;
    }
    #watermark {
      display: block;
      position: fixed;
      bottom: 0;
      color: rgba(0, 0, 0, 0.4);
      right: 0;
      font-weight: bold;
      text-align: center;
    }
    #watermark::after {
      opacity: 0.65;
      width: 100px;
      height: 2cm;
      display: block;
      background: white;
      border: 3px double black;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: none;
      content: "Copyright Ruxandra Oprea";
    }
    #testimoniale {
      page-break-before: always;
    }
  }
  @page {
    size: A4 portrait;
    margin-bottom: 2cm;
    margin-top: 2cm;
    counter-increment: page;
  }
  @page : left {
    margin-left: 2.5cm;
    margin-right: 0.5cm;
  }
  @page : right {
    margin-left: 0.5cm;
    margin-right: 2.5cm;
  }