body {
    --padding-main: 10px;
    --background-body: #F9F1F0;
    --text-color: black;
    --text-color-main: #4f4649;
    --marime-text: 19px;
    background-color: var(--background-body);
    color: var(--text-color);
    transition: all 0.2s linear;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

body.dark{
    --background-body:black;
    --text-color:white;
}

body.dark main{
    background-color: var(--culoare-main);
}

header {
    background-color: #300202;
    color: white;
    text-align: center;
    margin-left: var(--padding-main);
    margin-right: var(--padding-main);
    font-family: 'Merienda One', cursive;
}

main {
    background-color: var(--background-body);
    margin-left: var(--padding-main);
    margin-right: var(--padding-main);
    font-size: var(--marime-text);
    color: var(--text-color-main);
}

footer {
    background-color: #E1999F;
    margin-left: var(--padding-main);
    margin-right: var(--padding-main);
}

#despre-noi > h2 {
    text-align: center;
    font-family: 'Birthstone', cursive;
    font-size: 2.3rem;

}

h2.titlu-grid {
    padding-left: 3%;
    font-family: 'Merienda One', cursive;
}

#grid-pagina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "z-despre-noi z-despre-noi z-despre-noi z-despre-noi"
                        "z-orar z-orar z-calendar z-calendar"
                        "z-orar z-orar z-anunturi z-anunturi"
                        "z-lista-utilizatori z-most-wanted  z-most-wanted z-oferta"
                        "z-testimoniale  z-testimoniale z-testimoniale z-testimoniale"
                        "z-galerie-statica z-galerie-statica z-galerie-statica z-galerie-statica";

}

#grid-pagina > * {
    border: solid 0.1rem white;
    margin: 0;
    padding: 0.3rem;
    padding-top: 0;
}

#despre-noi {
    grid-area: z-despre-noi;
}

#orar {
    grid-area: z-orar;
}

#calendar {
    grid-area: z-calendar;
}

#anunturi{
    grid-area: z-anunturi;
}

#lista-utilizatori {
    grid-area: z-lista-utilizatori;
}

#most-wanted {
    grid-area: z-most-wanted;
}

#oferta {
    grid-area: z-oferta;
}

#testimoniale {
    grid-area: z-testimoniale
}

#galerie-statica {
    grid-area: z-galerie-statica;
}

#poza-prezentare {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poza-flex {
    width: 100%;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

.poza-flex img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
} 

hr {
    height: 0.7rem;
    width: 24.5rem;
    box-shadow: inset 0px 0px 2px -14px rgba(170,25,69,1);
    background-color: #AA1945;
    background-image: radial-gradient(circle, white 60%, transparent);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 0.7rem 0.7rem, cover;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr::after {
    content: "";
    background: url("../images/sweet-cupcake-removebg-preview.png") no-repeat; 
    background-size: contain;
    margin-left: 177px;
    margin-right: auto;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 100;
    margin-top: -5px;
  }

#css-printare > div {
    padding-top: 1.5rem;
    padding-bottom: 1.9rem;
    font-weight: bold;
}
#css-printare > div:before {
    content: "Acesta este un proiect școlar!";
    position: absolute;
    transform-origin: bottom;
    height: 1.6rem;
    left: 10px;
    transform: rotatex(180deg) translatey(15px) skew(135deg);
    background: linear-gradient(0deg, var(--text-color-main)0, var(--text-color-main)100%);
    -webkit-background-clip: text;
    color: transparent;
    opacity:0.7;
    filter: blur(1px);
} 

#css-printare > div:hover:before {
    font-size: 1.1rem;
    transition: all 0.5s linear;
}

footer {
    text-align: center;
}

#watermark, #banner{
    display:none;
}

#duotone > div {
    margin-top: 2rem;
    position:relative;
	background-image:url("https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-size:cover;
	width:400px; 
	height: 270px;
    transition: 1.6s linear;
}

#duotone > div:after, #duotone > div:before{
	content:" ";
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#duotone > div:after{
	background-color:rgb(0,0,255);
	mix-blend-mode:lighten;
}

#duotone > div:before{
	background-color:rgb(205,0,255);
	mix-blend-mode:darken;
}

#duotone > div:hover{
    filter: grayscale(1);
}

@media screen and (max-width: 1200px) {
    main {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 750px) {
    #grid-pagina {
        display: block;
    }
    main {
        font-size: 0.8rem;
    }
}
